Session.vim
vim/**/session/
transient/
.cache/
.lsp-session-v1
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/eln-cache/
copilot/**/logs/
goose/**/githubcopilot
goose/**/*.bak*
goose/**/*.yaml
goose/**/history.txt
